<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{app.moderator.title}">Moderator Panel</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/company.css">
</head>
<body>
<div th:insert="elements/navbar"></div>

<div class="hero" style="background: whitesmoke; height: auto; align-items: flex-start; color: #333333">

    <aside class="section" style="width: 15%">
        <a href="/dashboard" class="button" th:text="#{company.dashboard}"></a><br><br>
        <a href="/employee-dashboard" class="button" th:text="#{employee.dashboard}"></a><br><br>
        <a href="/user-dashboard" class="button" th:text="#{user.dashboard}"></a>
    </aside>
    <!-- Zarządzanie usługami -->
    <div class="section">
        <div class="section-header">
            <h2 th:text="#{app.moderator.manage_services}">Manage Services</h2>
            <a th:href="@{/services/add/{id}(id=${users[0].company.id})}" class="button" th:text="#{app.moderator.add_service}">Add Service</a>
        </div>
        <form method="post" th:action="@{/services/update}">

        <table>
            <thead>
            <tr>
                <th th:text="#{app.service.name}" style="width: 12%">Name</th>
                <th th:text="#{app.service.duration}" style="width: 7%">Duration (min)</th>
                <th th:text="#{app.service.price}" style="width: 11%">Price</th>
                <th th:text="#{app.service.description}" style="width: 40%">Description</th>
                <th th:text="#{app.service.places}" style="width: 7%">Places</th>
                <th th:text="#{app.service.required_employees}" style="width: 15%">Required Employees</th>
                <th th:text="#{app.service.choosable_employee}" style="width: 7%">Choosable Employee</th>
                <th th:text="#{app.service.delete}">Choosable Employee</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service : ${services}">
                <td><input type="text" name="name" th:value="${service.name}"></td>
                <td><input type="number" name="duration" th:value="${service.duration}"></td>
                <td><input type="number" step="0.01" name="price" th:value="${service.price}"></td>
                <td><input type="text" name="description" th:value="${service.description}"></td>
                <td><input type="number" name="places" th:value="${service.places}"></td>
                <td>
                    <select name="requiredEmployees" multiple>
                        <option th:each="user : ${service.company.users}"
                                th:value="${user.id}"
                                th:selected="${user.username}"
                                th:text="${user.username}">Employee</option>
                    </select>
                </td>
                <td>
                    <select name="choosableEmployee">
                        <option value="true" th:selected="${service.choosableEmployee}" th:text="#{yes}">Yes</option>
                        <option value="false" th:selected="${!service.choosableEmployee}" th:text="#{no}">No</option>
                    </select>
                </td>
                <td>
                    <a th:href="@{/services/delete/{id}(id=${service.id})}" class="button" style="background-color: #f44336;"
                       >X</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: right;">
            <button type="submit" class="button" th:text="#{app.save_changes}">Save Changes</button>
        </div>
        </form>

    </div>

    <!-- Zapraszanie użytkowników -->
    <div class="section">

        <table>
            <thead>
            <tr>
                <th th:text="#{app.services.filter.name}" style="width: 12%">Name</th>
                <th th:text="#{app.email}" style="width: 25%">Email</th>
                <th th:text="#{app.services.details}">Choosable Employee</th>
                <th th:text="#{app.service.delete}">Choosable Employee</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{/user/details/{id}(id=${user.id})}" class="button" style="background-color: #2196f3;"
                    >...</a>
                </td>
                <td>
                    <a th:href="@{/user/delete/{id}(id=${user.id})}" class="button" style="background-color: #f44336;"
                    >X</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2 th:text="#{app.moderator.invite_users}">Invite Users</h2>
        <form method="post" th:action="@{/moderator/invite}">
            <label for="email" th:text="#{app.user.email}">User Email</label>
            <input type="email" id="email" name="email" placeholder="example@example.com" required>

            <label for="role" th:text="#{app.user.role}">Role</label>
            <select id="role" name="role">
                <option value="EMPLOYEE" th:text="#{app.role.employee}">Employee</option>
                <option value="MODERATOR" th:text="#{app.role.moderator}">Moderator</option>
            </select>

            <button type="submit" class="button" th:text="#{app.moderator.send_invitation}">Send Invitation</button>
        </form>
    </div>
</div>
<div th:insert="elements/footer"></div>

</body>
</html>
