<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{app.moderator.title}">Moderator Panel</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/company.css">
    <link rel="stylesheet" href="/css/month.css">

    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/employee-day.css">
</head>
<body>
<div th:insert="elements/navbar"></div>

<div class="hero" style="background: whitesmoke; height: auto; align-items: flex-start; color: #333333">

    <section class="section" style="width: 30%">
        <div th:insert="elements/dashboard" style="padding-bottom: 10%"></div>
        <section class="chat-container">
            <h2>Chat</h2>
            <div class="chat-box">
                <div class="chat-messages">
                    <!-- Messages go here -->
                </div>
                <form class="chat-input">
                    <input type="text" placeholder="Type a message..." required>
                    <button type="submit">Send</button>
                </form>
            </div>
        </section>
    </section>
    <!-- Zarządzanie usługami -->
    <section class="section" style="width: 90%">
        <div class="calendar-container" style="width: 90%">
            <div class="calendar-header">
                <button onclick="prevYear()">← year</button>
                <h1 id="currentYear"></h1>
                <button onclick="nextYear()">→ year</button>
            </div>
            <div class="calendar-header">
                <button onclick="prevMonth()">← month</button>
                <h2 id="currentMonth"></h2>
                <button onclick="nextMonth()">→ month</button>
            </div>

            <div class="calendar-grid">
                <div></div> <!-- Placeholder for week numbers -->
                <div class="day-header">Mon</div>
                <div class="day-header">Tue</div>
                <div class="day-header">Wed</div>
                <div class="day-header">Thu</div>
                <div class="day-header">Fri</div>
                <div class="day-header">Sat</div>
                <div class="day-header">Sun</div>
            </div>

            <div id="calendarDays" class="calendar-grid"></div>
        </div>

    </section>
<section class="section">
    <div class="schedule-container">
        <!-- Godziny otwarcia -->
        <div class="schedule" id="schedule">
            <div class="hour" style="height: 1px"></div>
            <div th:each="hour : ${#numbers.sequence(company.workTimeStart.hour, company.workTimeEnd.hour - 1)}"
                 class="hour" th:data-hour="${hour}" th:text="${hour + ':00'}">9:00</div>
        </div>

        <!-- Bloki spotkań -->
        <div class="blocks" id="blocks">
<!--            <div th:each="appointment : ${appointments}"-->
<!--                 class="block"-->
<!--                 th:data-id="1"-->
<!--                 th:style="'top: ' + ${appointment.value[0]} + 'px; height: ' + ${appointment.value[1]} + 'px;'">-->
<!--                 th:text="${appointment.key.service.name} +' ' + ${appointment.key.startDateTime.hour + ':' + (appointment.key.startDateTime.minute < 10 ? '0' : '') + appointment.key.startDateTime.minute} + ' - ' + ${appointment.key.endDateTime.hour + ':' + (appointment.key.endDateTime.minute < 10 ? '0' : '') + appointment.key.endDateTime.minute}">-->
<!--            </div>-->
        </div>
        <button class="button" id="save-button">Save Changes</button>

    </div>
</section>
</div>
<div th:insert="elements/footer"></div>

</body>
<script th:inline="javascript">
    window.openingHours = /*[[${openingHours}]]*/ [[1,2],[3,4]]
    window.translations = { week: /*[[#{calendar.week}]]*/ 'Week' };
    window.month = /*[[${month}]]*/ 1;
    window.year = /*[[${year}]]*/ 2025;
    window.january = /*[[#{january}]]*/ 'January';
    window.february = /*[[#{february}]]*/ 'February';
    window.march = /*[[#{march}]]*/ 'March';
    window.april = /*[[#{april}]]*/ 'April';
    window.may = /*[[#{may}]]*/ 'May';
    window.june = /*[[#{june}]]*/ 'June';
    window.july = /*[[#{july}]]*/ 'July';
    window.august = /*[[#{august}]]*/ 'August';
    window.september = /*[[#{september}]]*/ 'September';
    window.october = /*[[#{october}]]*/ 'October';
    window.november = /*[[#{november}]]*/ 'November';
    window.december = /*[[#{december}]]*/ 'December';

</script>
<script src="/js/dashboard-employee.js"></script>
<!--<script src="/js/employee-day.js"></script>-->
</html>
