<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Schedule for ' + ${day} + ' ' + ${monthName} + ' ' + ${year}">Booking Schedule</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/day.css">
</head>
<body>
<div th:insert="elements/navbar"></div>
<div class="hero" style="height: unset">
    <div class="schedule-container">
        <div class="schedule-header">
            <h2 th:text="'Schedule for ' + ${day} + ' ' + ${monthName} + ' ' + ${year}">Schedule for February 20, 2025</h2>
            <div class="navigation-links">
                <a th:href="@{/service/{serviceId}/month/{year}/{month}(year=${year}, month=${month}, serviceId=${serviceId})}" class="button">
                    <span th:text="#{backto} + ' ' + ${monthName}">Back to styczeń</span></a>
                <a th:href="@{/service/{serviceId}/week/{year}/{week}(year=${year}, week=${week}, serviceId=${serviceId})}" class="button">
                    <span th:text="#{backto}+' Week '+ ${week}">Back to Week</span></a>
            </div>
        </div>

        <div class="schedule-header">
            <h2 th:text="${serviceName}">Schedule for February 20, 2025</h2>
            <div class="navigation-links">
                <a th:href="@{/service/{serviceId}/day/{year}/{month}/{day}(year=${year}, month=${month}, day=${day}, serviceId=${serviceId}-1)}" class="button">
                    <span>Prev service</span></a>
                <a th:href="@{/service/{serviceId}/day/{year}/{month}/{day}(year=${year}, month=${month}, day=${day}, serviceId=${serviceId}+1)}" class="button">
                    <span>Next service</span></a>
            </div>
        </div>

        <div id="timeSlots">
            <!-- Time slots will be dynamically populated -->
        </div>

        <div class="navigation">
            <button onclick="prevDay()">← Previous Day</button>
            <button onclick="nextDay()">Next Day →</button>
        </div>
    </div>
</div>

<div th:insert="elements/footer"></div>
<script th:inline="javascript">

    window.year = /*[[${year}]]*/ 2025;
    window.month = /*[[${month}]]*/ 2;
    window.day = /*[[${day}]]*/ 20;
    window.week = /*[[${week}]]*/ 8; // Numer tygodnia przekazany z backendu
    window.availableDays = /*[[${availableDays}]]*/ ['Monday', 'Tuesday', 'Wednesday', 'Friday'];
    window.occupation = /*[[${occupation}]]*/ {'07:00': 54, '08:00': 6, '09:00': 43};
    window.serviceId = /*[[${serviceId}]]*/ 30;
    window.timeNeeded = /*[[${timeNeeded}]]*/ 3; // Czas w godzinach
    window.dayOfWeek = /*[[${dayOfWeek}]]*/ 'Monday'; // Bieżący dzień tygodnia
</script>
<script src="/js/day.js"></script>

</body>
</html>
