<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Details of Service: ' + ${service.name}">Service Details</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/service-details.css">
</head>
<body>
<div th:insert="elements/navbar"></div>
<div class="hero">
    <div>
        <div class="service-details-header">
            <h1 th:text="${service.name}">Service Name</h1>

        </div>
    <div class="service-details-container">
        <div class="service-info">
            <h3 th:text="#{service.details.infoTitle}">Service Information</h3>
            <p><strong th:text="#{service.details.duration} + ':'">Duration:</strong> <span th:text="${service.duration} + ' minutes'">60 minutes</span></p>
            <p><strong th:text="#{service.details.price} + ':'">Price:</strong> <span th:text="${service.price} + ' $'">$50</span></p>
            <p><strong th:text="#{service.details.description} + ':'">Description:</strong> <span th:text="${service.description}">Description of the service.</span></p>
            <p><strong>Available Places:</strong> <span th:text="${service.places}"></span></p>
            <p th:if="${service.choosableEmployee}"><strong>Worker Choosable:</strong> Yes</p>
            <p th:if="${!service.choosableEmployee}"><strong>Worker Choosable:</strong> No</p>
            <h4>Available Start Hours</h4>
            <ul>
                <li th:each="hour : ${service.startHours}" th:text="${hour}">09:00</li>
            </ul>
        </div>
        <div class="company-info">
            <h3 th:text="#{service.details.companyTitle}">Company Information</h3>
            <p><strong th:text="#{service.details.companyName} + ':'">Name:</strong> <span th:text="${service.company.name}">Company Name</span></p>
            <p><strong th:text="#{service.details.companyPhone} + ':'">Phone:</strong> <span th:text="${service.company.phoneNumber}">123-456-789</span></p>
            <p><strong th:text="#{service.details.companyDescription} + ':'">Description:</strong> <span th:text="${service.company.description}">Company description here.</span></p>
            <p><strong>Working Days:</strong>
            <span th:each="day : ${service.company.workingDays}" th:text="#{${T(java.time.DayOfWeek).of(day).toString().toLowerCase()}}+' '"></span></p>
            <p><strong>Work Time:</strong> <span th:text="${service.company.workTimeStart + ' - ' + service.company.workTimeEnd}"></span></p>
            <p><strong>Address:</strong> <span th:text="${service.company.address}">Company Address</span></p>
        </div>
    </div>
        <a th:href="@{/service/{serviceId}/month/{year}/{month}(serviceId=${service.id}, year=${T(java.time.LocalDate).now().year}, month=${T(java.time.LocalDate).now().monthValue})}"
           class="button reserve-button"
           th:text="#{service.details.reserveButton}">
            Reserve Now
        </a>
    </div>
</div>


<div th:insert="elements/footer"></div>
</body>
</html>
