<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale.language}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{app.services.title2}">Book It! - Browse Services</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:insert="elements/navbar"></div>

<div class="hero" style="background: #7bd8e6; height: auto; align-items: flex-start">
  <!-- Sidebar Filters -->
  <aside class="filters">
    <form method="get" action="/services" id="filterForm">
      <div class="form-group">
        <label for="name" th:text="#{app.services.filter.search}">Name</label>
        <input type="text" id="name" name="name" th:placeholder="#{app.services.filter.search.placeholder}"  oninput="filter()" onchange="filter()" onblur="filter()" th:value="${param.name}">
      </div>
      <div class="form-group">
        <label for="industry" th:text="#{app.services.filter.industry}">Industry</label>
        <select id="industry" name="industry" multiple onchange="filter()" style="height: 250px">
          <option th:each="industry : ${industries}" th:value="${industry.id}" th:text="${industry.name}" th:selected="${param.industry?.contains(industry.id.toString) ?: false}"></option>
        </select>
      </div>
      <div class="form-group">
        <label for="address" th:text="#{app.services.filter.location}">Location</label>
        <input type="text" id="address" name="address" th:placeholder="#{app.offers.filter.location.placeholder}" onblur="processAddress();filter()"
               th:value="${param.address}">
        <p id="processedAddress" style="color: green; font-size: 80%; line-height: 1.5; height: 4.5em; overflow: hidden;" th:text="${processedAddress}"></p>
      </div>
      <div class="form-group">
        <label for="maxDistance" th:text="#{app.services.filter.max_distance}">Max Distance (km)</label>
        <input type="number" id="maxDistance" name="maxDistance" min="1" placeholder="e.g. 50" oninput="filter()" onchange="filter()" onblur="filter()" th:value="${param.maxDistance}">
      </div>
      <div class="form-group">
        <label for="priceRange" th:text="#{app.services.filter.price}">Price Range</label>
        <div class="price-inputs">
          <input type="number" id="priceMin" name="priceMin" placeholder="Min" onchange="filter()" oninput="filter()" onblur="filter()" th:value="${param.priceMin}">
          <input type="number" id="priceMax" name="priceMax" placeholder="Max" onchange="filter()" oninput="filter()" onblur="filter()" th:value="${param.priceMax}">
        </div>
      </div>
    </form>
  </aside>


  <!-- Services List -->
  <section class="services-list">
    <div class="sort-buttons">
      <input type="hidden" id="sort" value="none" name="sort">
      <button th:onclick="sort('name')" class="button" th:text="#{app.services.sort.name}">Sort by Name</button>
      <button th:onclick="sort('price')" class="button" th:text="#{app.services.sort.price}">Sort by Price</button>
      <button th:onclick="sort('distance')" class="button" th:text="#{app.services.sort.distance}">Sort by Rating</button>
    </div>
    <div class="services" id="services">
      <div th:each="service : ${services}" class="service-card">
        <a th:href="@{/company/{id}(id=${service.company.id})}" class="company-logo-link">
          <img th:src="'data:image/png;base64,' + ${service.company.base64Image}" th:alt="${service.company.name}">
        </a>
        <h4 th:text="${service.company.name}">Company Name</h4>
        <h5 th:text="${service.name}">Service description</h5>
        <p th:text="${service.description}">Service description</p>
        <p>
          <strong th:text="'Price: ' + ${service.price} + ' ' + #{app.currency}">Price: $100</strong>
        </p>
        <!-- Uncomment if rating is available -->
        <!-- <p><strong th:text="'Rating: ' + ${service.rating}">Rating: 4.5</strong></p> -->
        <a th:href="@{/service/{id}(id=${service.id})}" class="button" th:text="#{app.services.details}">View Details</a>
      </div>
    </div>
  </section>
</div>

<div th:insert="elements/footer"></div>
<script th:inline="javascript">
  window.services=document.getElementById("services")
  const currency = /*[[#{app.currency}]]*/ "a"
  const details = /*[[#{app.services.details}]]*/ "a"
</script>
<script src="/js/provider-signup.js"></script>

</body>
</html>
