<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale.language}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{app.schedule.title}+' '+${year}+' '+#{calendar.week}+' '+${week}">Weekly Schedule</title>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/week.css">
</head>
<body>
<div th:insert="elements/navbar"></div>
<div class="hero" style="height: unset">
  <div class="schedule-container">
    <div class="schedule-header">
      <button class="button" style="width: 30%; font-weight: bold" onclick="prevWeek()">&#8592; Prev Week</button>
      <a class="day-button" style="font-size: xx-large; font-weight: bold" th:href="@{/service/{serviceId}/month/{year}/{month}/(year=${weekDays[3].year}, month=${weekDays[3].month}, serviceId=${serviceId})}"
         th:text="#{${weekDays[3].monthName}} + ' ' + ${year}">Styczuń</a>
      <button class="button" style="width: 30%; font-weight: bold" onclick="nextWeek()">Next Week &#8594;</button>
    </div>

    <table class="schedule-table">
      <thead>
      <tr>
        <th th:each="day : ${weekDays}">
          <a class="day-button" th:href="@{/service/{serviceId}/day/{year}/{month}/{day}(year=${day.year}, month=${day.month}, day=${day.day}, serviceId=${serviceId})}"
             th:text="${day.name}">Day</a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:each="day, stat : ${weekDays}" th:classappend="${stat.index == 0} ? 'highlight' : ''">
          <div th:text="${day.date}" style="color: black; font-weight: bold">Date</div>
          <ul class="hour-list">
            <li th:each="hour : ${day.availableHours}">
              <a th:style="'background: linear-gradient(to right, #f5acaf ' + ${occupation[stat.index].get(hour)} + '%, #bdf5c2 ' + ${occupation[stat.index].get(hour)} + '%);'
                    + (${occupation[stat.index].get(hour)} == 100 ? 'cursor: not-allowed;' : '')"
                 th:href="${occupation[stat.index].get(hour)} != 100 ? @{/service/{serviceId}/time/{year}/{month}/{day}/{hour}(year=${day.year}, month=${day.month}, day=${day.day}, hour=${hour}, serviceId=${serviceId})} : null"
                 th:text="${hour}"
                 th:classappend="${occupation[stat.index].get(hour)} == 100 ? 'disabled-hour' : ''">Hour</a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<footer>
  <p th:text="'&copy; 2024 BookIt. ' + #{app.footer.copyright}">&copy; 2024 BookIt. All rights reserved.</p>
</footer>
<script th:inline="javascript">
  window.currentYear = /*[[${year}]]*/ 2025;
  window.currentWeek = /*[[${week}]]*/ 30;
  window.serviceId = /*[[${serviceId}]]*/ 30;
</script>
<script src="/js/week.js"></script>
</body>
</html>
